.cont-contact{
   
    background-repeat:no-repeat; 
    background: linear-gradient(rgba(2, 53, 119, 0.9), #edf7ff), url('imgs/imgs5.png');
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.firstHeader{
    height: 50px;
    background: white;
    padding:20px;
}
.secondHeader{
    height: 60px;
    background: rgb(52, 152, 219);

}

.container-contact{
    display: flex;
    width: 900px;
    min-height: 500px;
    margin:100px auto;
    padding: 20px;
}
.firstSection{
   
    flex-basis: 30%;
    padding: 5px;
}
.secondSection{
    /* background:green; */
    flex-basis: 100%;
    padding: 10px 0;
}
/* h3, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: solid 1px black;
    width: 240px;
    color: rgb(102, 102, 102)
} */
p{
    border-bottom: dotted 1px silver;
    padding-bottom: 20px;
    color: rgb(252, 249, 249);
}
h4{
    color: rgb(252, 249, 249); 
}
/* ---------------- all input without submit--------- */

form input[type="text"],
form input[type="search"],
form input[type="password"],
form input[type="tel"],
form input[type="email"]{
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  line-height: 1.2em;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  color: rgb(99, 99, 99);
}
/* -------------------input submit----------------- */
input[type=submit] {
    width: 100%;
    background-color: #1b4f7e;
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:  rgb(32, 132, 199);
}
table{
    margin: auto;
    width: 70%;
    margin-top: 40px;
    position: relative;
    right: -100px;
    top: -40px;
}
form textarea{
    margin: 0;
    padding:  10px;
    width: 100%;
    height: 130px;
    line-height: 1.2em;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    resize: none;
    color: rgb(99, 99, 99);

}
#title-left ul{
    list-style: none;
    display: flex;
    padding:20px;
}
#title-left ul li{
    list-style: none;
    padding:0px 3px;
}
@media screen and (max-width:600px){
    .container-contact{
        display: flex;
        flex-direction: column;
        
    }
    table{
        margin: 0;
        width: 50%;
        margin-top: 100px;
        margin-left: -100px;
    
    }
}
